@page
@model ProjectPrn221.Pages.Admin.Products.CreateModel
@{
}

<h2>Create a new Product</h2>

<form method="post">
    <label>Name</label>
    <input asp-for="Product.ProductName"/>
    <span asp-validation-for="Product.ProductName"></span><br />

    <label>Unit price</label>
    <input asp-for="Product.UnitPrice" />
    <span asp-validation-for="Product.UnitPrice"></span><br />

    <label>Quantity</label>
    <input asp-for="Product.QuantityPerUnit" /><br />

    <label>Category</label>
    <select asp-for="Product.CategoryId" asp-items="ViewBag.Category"></select><br />

    <label>Discontinued</label>
    <input asp-for="Product.Discontinued" /><br />

    <input type="submit" value="Add"/>
</form>
