@page
@model ProjectPrn221.Pages.Admin.Products.EditModel


<h2>Edit Product</h2>

<<<<<<< HEAD
<form method="post">
    @if(@ViewBag.msg1 != null){
    <h2>@ViewBag.msg1</h2>
    }
=======
<form method="post">  
    <p class="text-danger"> @ViewBag.msg</p>
    <input hidden asp-for="Product.ProductId"/>
>>>>>>> c0d5130d8d7e305d0dafb40c4a09898b4ac9b550
    <div class="mb-3">
        <label for="product-name" class="form-label">Product Name</label>
        <input asp-for="Product.ProductName" type="text" class="form-control" id="product-name" placeholder="Enter product name">
        <span asp-validation-for="Product.ProductName"></span><br />
    </div>
    <div class="mb-3">
        <label>Category</label>
        <select asp-for="Product.CategoryId" asp-items="ViewBag.Category"></select><br />
    </div>
    <div class="mb-3">
        <label for="category-id" class="form-label">Quantity</label>
        <input asp-for="Product.QuantityPerUnit" type="text" class="form-control" id="Quantity" placeholder="Enter category ID">
    </div>
    <div class="mb-3">
        <label for="quantity-per-unit" class="form-label">Price</label>
        <input asp-for="Product.UnitPrice" type="number" min="0" max="100000" class="form-control" id="Pricet" placeholder="Enter quantity per unit">
        <span asp-validation-for="Product.UnitPrice"></span><br />
    </div>

    <div class="form-check" style="margin-bottom: 10px">
        <label>Discontinued</label>
        <input asp-for="Product.Discontinued" /><br />
    </div>
    <button type="submit" class="btn btn-primary">Edit</button>

</form>
