@page
@model ProjectPrn221.Pages.Admin.Category.EditModel
@{
}


<h2>Edit a new Category</h2>

<form method="post">
    <input type="hidden" asp-for="Category.CategoryId" />
    <label>Name</label>
    <input asp-for="Category.CategoryName" />
    <span asp-validation-for="Category.CategoryName"></span><br />

    <label>Description</label>
    <input asp-for="Category.Description" />
    <span asp-validation-for="Category.Description"></span><br />

    <label>Picture</label>
    <input asp-for="Category.Picture" /><br />

    <input type="submit" value="Edit" />

</form>
