@using ProjectPrn221.Models
@{
    string acount = Context.Session.GetString("account");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebApplication2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav style="height:100px" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Management Products</a>
                @if (@acount != null)
                {
                    <div style="border-color:cornsilk">
                        <p>@acount</p>
                        <form method="post" asp-page-handler="Logout">
                            <button type="submit" style="background: azure">
                                <a>Logout</a>
                            </button>
                        </form>
                    </div>
                }
                else
                {
                    <div class="btn-secondary" style="border-color:cornsilk">
                        <button class="btn-secondary" style="background: azure">
                            <a href="/Account/Login">Login</a>
                        </button>
                    </div>
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - WebApplication3 - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<style>
    nav.navbar.navbar-expand-sm.navbar-toggleable-sm.navbar-light.bg-white.border-bottom.box-shadow.mb-3 {
        background: bisque !important;
    }

    body {
        background: #e8f0fd;
    }

    .footer {
        background: bisque !important;
    }

    main.pb-3 {
        background: white;
        padding: 20px;
        margin-bottom: 20px;
    }
</style>
