@{
    string acount = Context.Session.GetString("account");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebApplication2</title>


    <script src="../wwwroot/js/site.js" type="text/javascript" async></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <style>

        #simple-bar {
            border: 1px solid grey;
            margin-top: 0;
            max-height: 600px;
            min-height: 100px;
        }

        main {
            border-radius: 2px solid gray;
            width: 90%;
            margin: 10px auto;
        }

        nav.navbar.navbar-expand-sm.navbar-toggleable-sm.navbar-light.bg-white.border-bottom.box-shadow.mb-3, footer, .col-2 {
            background: bisque !important;
        }

        #content_left {
            background: bisque !important;
            width: 15%;
            height: auto;
        }

        ul {
            list-style-type: none;
        }

        .col-2 a {
            color: black;
            font-size: 24px;
            margin-bottom: 25px;
        }
    </style>
</head>
<body>
    <header>
        <nav style="height:100px" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand font-weight-bold" asp-area="" asp-page="/Index">Management Products</a>
                @if (@acount != null)
                {
                    <div style="border-color:cornsilk;;display:flex">
                        <p style="margin-right:20px">@acount</p>
                        <a asp-page="/SignIn" asp-page-handler="Logout" class="btn btn-danger">Logout</a>
                    </div>
                }
                else
                {
                    <div class="btn-secondary">
                        <button class="btn-secondary" style="background: azure">
                            <a asp-page="Signin" class="btn btn-success">Login</a>
                        </button>
                    </div>
                }
            </div>
        </nav>
    </header>
    <!-- menu -->
    <div class="row mb-2">
        <div class="col-2">
            <nav class="mt-5">
                <ul class="text-xl-center">
                    <a href="javascript:void">
                    <li class="active">Dashboard</li></a>
                    <a href="~/admin/orders/list">
                    <li>Orders</li></a>
                    <a href="~/common/products/list">
                    <li>Products</li></a>
                    <a href="~/admin/customers">
                    <li>Customers</li></a>
                    <a href="~/admin/employees">
                    <li>Employees</li></a>
                </ul>
            </nav>
        </div>


        <!-- main article -->
        <div class="col-10">

            <main class="   container ">
                @RenderBody()
            </main>

        </div>

    </div>
    <footer class="border-top footer text-muted p-4">
        <div class="container">
            &copy; 2023 - WebApplication3 - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
